>


<ng-container *ngIf="products.length !=0">
    <div class="container">
    <div class="card-table">
        <div class = "cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th> Sr.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let item of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</ng-container>
<ng-container *ngIf="products.length ==0">


<div class = "container">
    <div class = "card">
        <h5 class="card-title"> My Cart</h5>
    </div>
    <div class ="center">
        <img src= "https://www.pngkit.com/png/detail/134-1344008_shopping-cart-sign-shopping-cart-empty-icon.png" alt="">
        <h4> Your cart is empty</h4>
        <h6> Add item to it now</h6>
        <button routerLink="/products" class= "btn btn-primary"> Shop Now</button>
    </div>
</div> --

</ng-container>

